:root {
    --primary-blue: #191970;
    --secundary-blue: #0099E0;
    --white-wool: #E8E8E8;
    --gray-c: #CCCCCC;
    --gray-a: #AAAAAA;
    --gray-5: #555555;
    --blue-black: #000030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--blue-black);
}

img {
    max-width: 100% !important;
}

a {
    text-decoration: none !important;
}

/* Boton sin estilo */

.nobtn {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Header */

.main-content {
    background-color: var(--primary-blue);
    height: 6rem;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
}

/* brand */

.main-content__brand {
    display: flex;
    min-width: 17.5rem;
}

.main-content__brand img {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}

.main-content__brand h1 {
    color: var(--white-wool);
    font-weight: bold;
}

/* Wrapper Search & Users */

.main-content__wrapper-s-u {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

/* Buscador */

.main-content__search * {
    overflow: hidden;
}

.main-content__search label {
    border-radius: 1rem;
    height: 3rem;
    min-width: 3rem;
    max-width: 15rem;
    display: flex;
}

.main-content__search label i {
    color: var(--white-wool);
}

.main-content__search button {
    border: 0;
    background-color: var(--secundary-blue);
    padding: 1rem 1.6rem 1rem 1rem;
    margin-right: -.8rem;
}

.search-close {
    padding: 1rem !important;
}

#in-buscar {
    width: 12rem;
    padding-left: .3rem;
    border: 0;
    outline: 0;
}

/* Usuario */

.main-content__user {
    margin-right: 1rem;
    min-width: 8rem;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-wool);
    border-radius: 1rem;
}

.main-content__user>i {
    padding: .5rem;
    margin-right: .5rem;
    background-color: var(--secundary-blue);
    border-radius: 100%;
    color: var(--white-wool);
}

.main-content__user>.user a {
    color: var(--secundary-blue);
    font-weight: bold;

}

/* Menu desplegable */

.menu-user {
    background-color: var(--white-wool);
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 8rem;
    border-radius: 0 0 1rem 1rem;
}

.menu-user ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: .5rem;
    margin: 0;
    gap: .5rem;
}

.menu-user li small {
    color: var(--gray-5);
    font-weight: bold;
    font-size: 1rem;
}

.menu-user li:first-child {
    font-size: .8rem;
    margin: auto;
    border-bottom: .2rem solid var(--secundary-blue);
}

.menu-user i {
    margin: 0 .5rem;
    color: var(--secundary-blue);
}

.menu-user li>a {
    color: var(--secundary-blue);
}

.menu-user li>a:visited {
    color: var(--secundary-blue);
}

.menu-user li>a:hover {
    color: var(--primary-blue);
}

/* Panel - Aside */

.sidebar {
    background-color: var(--gray-c);
    padding: 1rem;
}

.sidebar h3 {
    font-size: 1.2rem;
    margin: .5rem .5rem -.5rem .5rem;
}

.sidebar__button {
    display: flex;
    align-content: center;
    border-bottom: .2rem solid var(--secundary-blue);
}

.sidebar__button * {
    font-size: 1.5rem;
    margin: .5rem 0 .5rem .4rem;
}

.sidebar__menu {
    border-bottom: .2rem solid var(--secundary-blue);
    padding: 0;
}

.sidebar__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem .5rem;
    margin: 0;
    height: 8rem;
}

.sidebar__menu ul li a i {
    margin-right: .6rem;
    width: 1rem;
    height: 1rem;
}

.sidebar__filter ul {
    display: none;
}

/* main */

.wrapper__main {
    display: grid;
    grid-template-columns: auto 3fr 1fr;
}

.main__display {
    background-color: var(--white-wool);
    padding: 1rem;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 1rem;
    justify-items: center;
}

.item {
    width: 8rem;
    height: 8rem;
    background-color: var(--gray-c);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item:hover {
    cursor: pointer;
    background-color: var(--gray-a);
}

.item>i {
    font-size: 3.5rem;
    padding-bottom: .8rem;
    color: var(--secundary-blue);
}

.item>strong {
    font-size: 1rem;
}

/* main aside modules */

.main-aside {
    background-color: var(--gray-c);
    padding: 1rem;
}

.main-aside h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
    border-bottom: .2rem solid var(--secundary-blue);
}

.card-noti {
    background-color: var(--gray-a);
    font-size: .8rem;
    margin-top: .4rem;
    padding: .8rem;
    border-radius: .5rem;
}

.fecha-evento {
    font-size: .8rem;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fecha-evento input {
    font-size: 1rem;
    border: 0;
    outline: 0;
    padding-left: .5rem;
    border-radius: .5rem;
}

.main-aside__calendar textarea {
    width: 100%;
    height: 5rem;
    font-size: .8rem;
    padding: .2rem;
    border: 0;
    outline: 0;
    border-radius: .5rem;
}

.main-aside__calendar form button {
    width: 100%;
    margin-top: .5rem;
    padding: .5rem 0;
    font-weight: bold;
    border-radius: .5rem;
    color: var(--white-wool);
    background-color: var(--secundary-blue);
}

/* footer */

.footer {
    background-color: var(--primary-blue);
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    max-height: 9rem;
    padding: 1rem;
}

.footer__logos img {
    width: 12rem;
}

.footer__support {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer * {
    color: var(--white-wool);
}

.footer__support ul {
    list-style-type: none;
    padding: 0;
}

.footer__support i {
    padding: 0 .5rem 0 1.5rem;
}

/* Copy */

.footer__copy h5 {
    text-align: center;
    padding: .5rem;
    margin: 0;
}

.footer__copy {
    background-color: var(--secundary-blue);
    margin: 0;
}

/* Extra estilos */

.menu-user-toggle {
    border-radius: 1rem 1rem 0 0 !important;
}

/* sidebar toggle */

.sidebar-toggle {
    background-color: var(--gray-c);
    padding: 1rem;
    width: 4rem;
}

.hidden {
    width: 0 !important;
    display: none !important;
}

.item-info-block {
    position: absolute;
    background-color: rgba(5, 5, 5, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-info {
    background-color: var(--gray-c);
    width: 50%;
    height: 60%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-info>i {
    text-align: right;
    font-size: 1.5rem;
    cursor: pointer;
}

.item-info>i:hover {
    color: var(--secundary-blue);
}

.item-active {
    width: 90%;
    height: 100%;
    border-radius: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-active h5 {
    font-weight: bold;
}

.item-active span {
    font-weight: 300;
}

.item-active.item:hover {
    background-color: var(--gray-c);
    cursor: default;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    html {
        font-size: 12px;
    }

    .main-content__brand h1 {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .main-content__search {
        display: none;
    }

    .main-content__wrapper-s-u {
        justify-content: right;
        width: 0;
    }

    .sm {
        display: none;
    }

    .wrapper__main {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
    }
}

/* Large devices (desktops, 992px and up) */
/* @media (max-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (max-width: 1200px) { ... } */