main{
    width: 20rem;
    background: #24303c;
    padding: 1rem;
    margin:auto ;
    object-position: center;
}
h2 {
    margin: 3rem 0 2rem 4rem;
    font-size: 40px;
}

label{
    color: white;
    align-items: center;
    display: flex;
}
.section button{
    padding: 0 2rem 0 2rem;
    margin: 1rem 0 1rem 1rem;
    border: blue;
    color:aliceblue;
    background: blue;
}
input{
    display: flex;
    align-items: center;
    width:18rem;
    margin: 0.5rem 0 0.5rem;
    background: #24303c;
    border: blue 2px solid;
    color:white;
}
select{
    color: white;
    margin: 0.5rem 0 0.5rem;
    background: #24303c;
    border: blue 2px solid;
}
